
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.header{
    max-width: 1440px;
    margin: 0 auto;
}

/* shared related styles */
.text-gray-light{
    color:rgba(58, 58, 58, 1) ;
}
.display-flex{
    display: flex;
}
.bg-color{
    background-color: rgb(226, 224, 224);
}
.text-gray{
    color:#3A3A3A ;
}

/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    margin-right: 30px;
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-weight: 700;
}
#brand{
    font-weight: 600;
    font-size: 1.25rem;
    color: #3A3A3A;
}
/* main related styles */
main{
    max-width: 1449px;
    margin: 0 auto;
}
main > section{
    margin-top: 100px;
}
.influencer-content{
    align-items: center;
}
.main-camera{
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
}
.main-camer img{
    max-height: 100%;
}
.main-area{
    max-width: 582px;
    margin: 0 auto;
}
.main-camera{
    max-width: 440px;
    margin: 0 auto;
}
.main-title{
    font-weight: 600;
    font-size: 3.1rem;
}
.title-descriptions{
    font-weight: 700;
    color: #3A3A3A;
}
.btn-primary{
    background-color:rgba(224, 44, 109, 1) ;
    border: 1px solid rgba(224, 44, 109, 1) ;
    border-radius: 41px;
    padding: 10px 24px;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
}
/* companese logos styles */
.companes-logo{
    max-width: 1110px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 44px 38px;
    gap: 60px;
    box-shadow: 10px 10px 10px rgb(196, 196, 196);
    align-items: center;
}
.collection{
    max-width: 1047px;
    margin: 0 auto;
}
.collection-title{
    max-width: 700;
    font-size: 1.8rem;
    color: #3A3A3A;
    text-align: center;
    margin-bottom: 30px;
}
.collection-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
}
.cards{
     box-shadow: 0 0 40px 0 rgb(99, 99, 99);
    align-items: center;
    border-radius: 8px;
    max-width: 360px;
    margin: 0 auto;
    align-items: center;
    padding: 16px 15px;
}
.cards img{
    max-width: 100%;
    margin: 0 auto;

}
.card-title{
font-size: 1.8rem;
color: rgba(24, 25, 31, 1);
}
.price{
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.87);

}
.btn{
    color: rgba(224, 44, 109, 0.87);
    font-weight: 600;
    border: none;
    float:right;
    margin-top: 40px;
}
.btn-2{
    background-color: rgba(224, 44, 109, 1);
    padding: 10px 24px;
    color: white;
    font-weight: 600;
}
.product-title{
    font-weight: 600;
    font-size: 2.5rem;
    color: rgba(10, 8, 38, 1);

}
.products-content{
    max-width: 675px;
    margin: 0 auto;
    margin-left: 109px;
    align-items: center;
}
.products{
    max-width: 1123px;
    margin: 0 auto;
}
.product-descriptions{
    font-weight: 600;
    color: rgba(108, 108, 108, 1);
}
.products img{
    max-width: 100%;
    margin: 0 auto;

}
/* media-query for mobile  */

@media screen and (max-width:576px){
    .navbar, 
    .nav-links,
    .influencer-content, .products {
        flex-direction: column;
    }
    .companes-logo{
        grid-template-columns: repeat(1, 1fr);
    }
    .collection-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
/* query for big screen  */

@media screen and (min-width:576px) and (max-width:992px){
    .navbar, 
    .nav-links,
    .influencer-content, 
    .products {
        flex-direction: column;
    }
    .companes-logo{
        grid-template-columns: repeat(7, 1fr);
    }
    .collection-container{
        grid-template-columns: repeat(3, 1fr);
    }
}